<div class="bg-danger vh-100">
    <!-- <header>
      <h1 class="d-flex justify-content-center p-3 font-pokemon ">Pokédex</h1>
    </header> -->
    <div class="row p-2 mb-5">

      <section class="col-4 p-3 margin-3">
        <h3 class="d-flex justify-content-center font-pokemon text-white">{{compteurPokemonMin}} / {{compteurPokemonMax}}</h3>
          <div *ngFor="let item of List" class="d-grid gap-3 p-1">
            <button class="btn btn-dark font-pokemon display-3" (click)="getByUrl(item.url)">{{item.name}}</button>
          </div>
          <div class="container mt-2 mb-3">
            <div class="row">
              <div class="col-6 d-grid gap-2">
                <button class="d-flex justify-content-center btn btn-dark" (click)="getListMoins()" [disabled]="compteurPokemonMin <= 0"><img src="../../../../assets/arrow-left-circle-fill.svg" alt="Bootstrap" width="35" height="35"></button>
              </div>
              <div class="col-6 d-grid gap-2">
                <button class="d-flex justify-content-center btn btn-dark" (click)="getListPlus()" [disabled]="compteurPokemonMax >= 150"><img src="../../../../assets/arrow-right-circle-fill.svg" alt="Bootstrap" width="35" height="35"></button>
              </div>
            </div>
            <div class="row">
              <div class="col-12 d-grid gap-2">
                <button class="d-flex justify-content-center btn btn-dark mt-2" (click)="getDetails()" [disabled]="!click"><img src="../../../../assets/zoom-in.svg" alt="Bootstrap" width="35" height="35" class="svg-white"></button>
              </div>
            </div>
          </div>
      </section>

      <section class="col-8 p-3 rounded-5" *ngIf="click">
        <h3 class="d-flex justify-content-center font-pokemon text-white mb-3"># {{pokemon.id}} {{pokemon.name}}</h3>

        <div class="d-flex justify-content-center bg-fond-pokedex mt-2">
          <div class="d-flex align-items-center">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/{{pokemon.id}}.svg" alt="image pokemon" class="img-responsive center-block img" >
          </div>
        </div>
      </section>

      <section class="col-8 p-3 rounded-5" *ngIf="!click">
        <h3 class="d-flex justify-content-center font-pokemon text-white"># ?</h3>
        <div class="d-flex justify-content-center bg-fond-pokedex mt-3"></div>
        <div class="row d-flex justify-content-center">
        </div>
      </section>
    </div>
</div>