<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">DemoAngular</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Demonstrations
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="bindingOneWay">Binding One Way</a></li>
            <li><a class="dropdown-item" routerLink="bindingTwoWay">Binding Two Way</a></li>
            <li><a class="dropdown-item" routerLink="eventBinding">Event Binding</a></li>
            <li><a class="dropdown-item" routerLink="demosPipe">Pipe</a></li>
            <li><a class="dropdown-item" routerLink="directives">directive</a></li>
            <li><a class="dropdown-item" routerLink="inputOuput">input - output</a></li>
            <li><a class="dropdown-item" routerLink="injection">Injection</a></li>
            <li><a class="dropdown-item" routerLink="fakeAuth">Storage</a></li>
            <li><a class="dropdown-item" routerLink="formulaire">Formulaire</a></li>
            <li><a class="dropdown-item" routerLink="router">Router</a></li>
            <li><a class="dropdown-item" routerLink="observable">Observables</a></li>
            <li><a class="dropdown-item" routerLink="httpClient">Http client</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Exercices
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="exoChrono">Chrono</a></li>
            <li><a class="dropdown-item" routerLink="shoppingList">Shopping List</a></li>
            <li><a class="dropdown-item" routerLink="shoppingListS">Shopping List (Service)</a></li>
            <li><a class="dropdown-item" routerLink="fan/list">Fans</a></li>
          </ul>
        </li>
        <li class="nav-link dropdown text-danger">
          <a class="dropdown-item" routerLink="pokedex">Pokédex</a>
        </li>
      </ul>
    </div>
  </div>
</nav>