@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

body{
  overflow-x: hidden;
  overflow-y: hidden;
}

.font-pokemon{
  font-family: "Pokemon";
}

.bg-fond-pokedex{
  background-image: url("../src/assets/fond_pokemon.jpg");
  background-position: top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
  margin: 2%;
  height: 90%;
  border-radius: 100px;
  border: solid rgb(0, 0, 0) 10px;
}

.img{
  max-width: 430px;
  max-height: 430px;
}

svg-white{
  color: white;
}